<!-- {% load static %} -->

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/namethymeline.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">

	</head>
  
	<body>
    <div class="container-fluid">
      <div class="row" style="background-color: rgb(245, 245, 245)">
        <div class="col-3">
          <a href="/thyme/homepage" class="btn btn-default btn-sm">
            <i class="material-icons" style="font-size:48px">arrow_back</i>
          </a>
        </div>
        <div class="col-9" align="right">
          <a id="addtimepointHREF" href="" class="btn btn-default btn-sm">
            Next
          </a>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12 text-center" align="center">
          <h1>Create Recipe Thymeline</h1>
        </div> 
      </div>
      <div class="row" align="center" style="padding: 20px">
        <div class="col-12">
<!--           <input id="dishNameInput" type="text" class="form-control" placeholder="Enter thymeline name here.."> -->
          <input class="form-control mr-sm-2" id="dishNameInput" type="text" placeholder="Enter thymeline name here.." aria-label="Search">
<!--           <button class="btn btn-default btn-sm" onclick="alertFunction()" id="submitThymeline" style="background-color: white">Submit</button> -->
<!--           <button class="btn btn-outline-success btn-rounded btn-sm my-0" id="submitThymeline" type="submit">Submit</div> -->
      </div> 
       <div class="row" align="center" style="padding: 20px">
        <div class="col-12" align="center">
          <button class="btn btn-outline-success btn-rounded btn-sm my-0" id="submitThymeline" type="submit">Submit</div>
         </div>
       </div> 
      <div class="row">
        <br/>
      </div>
       <div class="row">
        <br/>
      </div>
       <div class="row">
        <br/>
      </div>
       <div class="row">
        <br/>
      </div>
 
    <script>
      $(document).ready(function() {
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        
        // Function gets the value in a given input box
        function getData(inputKey) {
          return $(inputKey).val()
        }
        
        // Collects all the values when I hit submit
        $("#submitThymeline").click(function() {
          var postdata = {
            'dishName': getData("#dishNameInput"),
            'csrfmiddlewaretoken': csrftoken
          };
          
          $.ajax({
            url: "../../thyme/createthymeline/",
            method: "POST",
            headers: { "X-CSRFToken": csrftoken},
            data: JSON.stringify(postdata),
            contentType: "application/json",
            dataType: "json"
          });
        });
        
        $("#submitThymeline").click(function() {
          $("#addtimepointHREF").attr('href', "../addtimepoint/" + $("#dishNameInput").val());
        });
      });
      
      function alertFunction() {
        alert("You have created a Timeline.\n"
               + "Click on Next to proceed to the adding a recipe to your timepoint.");
      };
    </script>
  </body>

</html>