{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/family.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">

	</head>
  <body style ="background-color: rgb(231, 247, 246)">
    <div class="container-fluid">

  <div class="row top">
    <div class="col-12">
      <a href="/thyme/profile" class="btn btn-default"><i class="material-icons" style="font-size: 48px">arrow_back</i></a>
    </div>
  </div>
    <div class="row">
    <div class="col-12 text-center" id="familyName" style="font-size:100px; color: rgb(0, 104, 55)">
      <p>
        {{firstName}} {{lastName}}'s Family
      </p>
    </div>
  </div>
      <div class="row" >
          <div class="col-12 text-left" style="font-family: raleway, sans-serif; 
                                               font-size: 50px; font-style: normal; font-weight: 700; color: rgb(0, 104, 55)">
          
              Recipe Timelines
            
          </div> 
        </div>
  <div class="row" style="background-color: rgb(231, 247, 246)">
    <div id="timelines" class="col-12 text-center">       
        <!-- TIMELINES WILL BE ADDED HERE (see script) -->
    </div>
  </div>
  <div class="row" >
     <div class="col-12 text-left" style="font-family: raleway, sans-serif; 
                                               font-size: 50px; font-style: normal; font-weight: 700; color: rgb(0, 104, 55)">
       Members:
     </div> 
  </div>
  <div id="members" class="row" >
      <!-- MEMBERS WILL BE ADDED HERE (see javascript) -->
  </div>

  </body>
  <script>

    var membersOpenTag = "<div class='col-3 text-center'><h4>"
    var membersCloseTag = "</h4></div>"
       
    var timelinesDivTag = "<div class='row small'><div class='col-12 text-center'>"
    
    $(document).ready(function() {
        {% for timeline in timelines %}
          console.log("{{timeline}}");
           var hrefTag = "<a id='href' href='/thyme/thymeline/{{timeline.id}}' class='btn-med btn-light btn-block'>"
           $("#timelines").append(timelinesDivTag + hrefTag + "{{timeline}}" + "</a></div></div>");                  
        {% endfor %}
        {% for member in members %}
          console.log("First name: {{member.user.first_name}}");
           $("#members").append(membersOpenTag + "{{member.user.first_name}}" + membersCloseTag);                  
        {% endfor %}
        
      });
    
  </script>
</html>