{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/family.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">

	</head>
  <body style ="background-color: rgb(231, 247, 246)">
    <div class="container-fluid">

  <div class="row top">
    <div class="col-12">
      <a href="/thyme/profile" class="btn btn-default"><i class="material-icons" style="font-size: 48px">arrow_back</i></a>
    </div>
  </div>
    <div class="row">
    <div class="col-12 text-center" id="familyName" style="font-size:100px; color: rgb(0, 104, 55)">
    
    </div>
  </div>
      <div class="row" >
          <div class="col-12 text-left" style="font-family: raleway, sans-serif; 
                                               font-size: 50px; font-style: normal; font-weight: 700; color: rgb(0, 104, 55)">
          
              Recipes
            
          </div> 
        </div>
  <div class="row" style="background-color: rgb(231, 247, 246)">
    <div class="col-12 text-center">
        <div class="row small" >
          <div class="col-12 text-center">
            <a href="/thyme/viewrecipe" class="btn btn-light btn-block">* Family recipe</a>
          </div> 
        </div>
        <div class="row small">
          <div class="col-12 text-center">
            <a href="/thyme/viewrecipe" class="btn btn-light btn-block">*Family recipe</a>
          </div>
        </div>
      
    </div>
  </div>
  <div class="row" >
     <div class="col-12 text-left" style="font-family: raleway, sans-serif; 
                                               font-size: 50px; font-style: normal; font-weight: 700; color: rgb(0, 104, 55)">
       Members:
     </div> 
  </div>
  <div class="row" >
     <div class="col-3 text-center">
       <h4>Amy</h4>
     </div> 
     <div class="col-3 text-center">
       <h4>John</h4>
     </div>
    <div class="col-3 text-center">
       <h4>Ashley</h4>
     </div>
    <div class="col-3 text-center">
       <h4>Ashley</h4>
     </div>
  </div>


  </body>
  <script>
     $("#familyName").append("<p>" + "{{user.get_username}}" + 
                          " *last name" + "</p>");
  </script>
</html>