{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/homepage.css'%}">
	</head>
  
	<body>
    
    
<div class="container-fluid">
   <div class="row">
    <div class="col-xs-6" align="left">
      <button type="button" class="btn btn-default btn-sm">
          <i class="material-icons">person</i>
        </button>
    </div>
    <div class="col-xs-6" align="right">
      <button type="button" class="btn btn-default btn-sm">
          <i class="material-icons">help_outline</i>
        </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 text-center">
      <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/38404620_1214177202058645_4780636086093217792_o.jpg?_nc_cat=0&oh=f284e33eeda818be33e4c2bfad9bd7b4&oe=5C0F213F"  h
           eight="200" width="400" class="center">
    </div> 
   <div class="row search">
    <div class="col-xs-12">
     <form class="form-inline mr-auto">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
</form>
    </div>
  </div>
      <div class="row">
      </div>
<div class = "row" align="right">
  <div class= "col-xs-10" align="right">
      <button type="button" class="btn btn-default btn-sm">
          +
        </button>
  </div>
      </div>
  </div>
</div>
    <script>
      
      $(document).ready(function() {
        // Process Search
      });
    </script>
	</body>
</html>


