{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/homepage.css'%}">
	</head>
  
	<body>
    <div class="container-fluid">
       <div class="row" style="background-color: rgb(245, 245, 245); height: 100px;">
        <div class="col-6" align="left">
            <a href="/thyme/profile" class="btn btn-default btn-sm" ><i class="material-icons" style="font-size: 48px">person</i></a>
            <a href="/thyme/selectthymeline" class="btn btn-default btn-sm"><i class="material-icons" style="font-size: 48px">add</i></a>
        </div>
        <div class="col-6" align="right">
          <button type="button" class="btn btn-default btn-sm">
              <i class="material-icons" style="font-size: 48px">help_outline</i>
            </button>
        </div>
      </div>
     
      <div class="row">
        <br /> 
      </div>
      <div class="row top">
        <div class="col-12 text-center">
          <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/38487562_1215930171883348_4500901580454756352_n.jpg?_nc_cat=0&oh=89b2708f3a807acf4a7e4f4d0184442d&oe=5C105333"  
               height="500" width="580" class="center"> </div> 
      </div>
     
       <div class="row">
        <br /> 
      </div>
     
      <div class="row search">
        <div class="col-12">
          <input class="form-control mr-sm-2" id="searchInput" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-rounded btn-sm my-0" id="submitSearch" type="submit">
            <a id="href" href="">
              Search
            </a>
          </button>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        // Process Search
        $("#submitSearch").click(function() {
          $("#href").attr('href', "../searchresults/" + $("#searchInput").val());
        });
      });
    </script>
	</body>
</html>


