{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/homepage.css'%}">
	</head>
  
	<body>
    
    
<div class="container-fluid">
   <div class="row">
    <div class="col-6" align="left">
      <button type="button" class="btn btn-default btn-sm">
          <i class="material-icons">person</i></button>
        <button type="button" class="btn btn-default btn-sm"><i class="material-icons">add</i></button>
    </div>
    <div class="col-6" align="right">
      <button type="button" class="btn btn-default btn-sm">
          <i class="material-icons">help_outline</i>
        </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/38391330_1211900828952949_2698874723441311744_n.jpg?_nc_cat=0&oh=afa58199588c519420870fb1a52b463f&oe=5C039A69"  height="200" width="400" class="center">
    </div> 
  </div>
  <div class="row search">
    <div class="col-12 text-left">
     <form class="form-inline mr-auto">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
    <script>
      
      $(document).ready(function() {
        // Process Search
      });
    </script>
	</body>
</html>


