{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/css/main.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
    <p>
      "Hello World! From index.html"
    </p>
	</body>
</html>