{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/mycontributedthymelines.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">


		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
  <body>
    <div class="container-fluid">
      <div class="row top" style="background-color: rgb(245, 245, 245)">
        <div class="col-12">
          <a href="/thyme/profile" class="btn btn-default"><i class="material-icons">arrow_back</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Thymelines I've Contributed To</h4>
        </div>
      </div>
      <div class="row" id="thymelines" align="center" style="text-center">        
      </div>
     
      
    </div>
  </body>
  <script>
    
     var divTag = "<div class='row small'><div class='col-12 text-center'>"
     $(document).ready(function() {
          console.log("script");
          {% for timeline in timelines %}
            var hrefTag = "<a href='/thyme/thymeline/{{timeline.id}}' class='btn btn-default' style='background-color: white'>{{timeline}}</a>"
            $("#thymelines").append(divTag + hrefTag + "</div></div>");                  
          {% endfor %}

    });
  </script>
</html>
