{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/searchresults.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/searchresults.css'%}">
	</head>
  
  
	<body>
    
    <div class="container-fluid">
     
  <div class="row top">
    <div class="col-xs-2">
      <button type="button" class="btn btn-light"><i class="material-icons">person</i></button>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-light"><i class="material-icons">home</i></button>
    </div>
    <div class="col-xs-8" align="right">
      <button type="button" class="btn btn-light"><i class="material-icons">add</i></button>
    </div>
  </div>
     
  <div class="row search">
    <div class="col-xs-12">
      <form class="form-inline active-cyan-4">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
    <i class="fa fa-search" aria-hidden="true"></i>
</form>
    </div>
  </div>
    {% for timeline in obj %}
      <p>
        timeline.surname 
      </p>
    {% endfor %}
    </div>
	</body>
</html>
