{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/searchresults.css' %}" />

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" type="text/css" href="{% static 'thyme/searchresults.css'%}">
	</head>
	<body>
    <div class="container-fluid">    
      <div class="row top">
        <div class="col-4">
          <button type="button" class="btn btn-light"><i class="material-icons">person</i></button>
            <button type="button" class="btn btn-light"><i class="material-icons">home</i></button>
        </div>
        <div class="col-8" align="right">
          <button type="button" class="btn btn-light"><i class="material-icons" align="right">add</i></button>
        </div>
      </div>
      <div class="row search">
        <div class="col-xs-12">
          <form class="form-inline mr-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class=col-12 id="timelines">
          <h1>
            Timelines:
          </h1>
        </div>
      </div>
    </div>
   <script>
      
/*      
    function HelloWorld() {
        console.log('{{data}}');
        console.log('{{data.values}}');
      };
      HelloWorld(); 
*/
     
     // Make displayed timelines clickable elements
      var panelTag = "<div class='panel panel-default' id='thymelines'>"
      var hrefTag = "<a id='href' href='' class='btn-med btn-light btn-block'>"

      $(document).ready(function() {
        {% for timeline in data.values %}
          console.log("{{timeline.display_text}}");
           var hiddenInput = "<input type='hidden' id='primaryKey' name='input' value='{{timeline.idString}}'>"
           // Create clickable thymelines for each thymeline
           $("#timelines").append(panelTag + hiddenInput + hrefTag + "{{timeline.display_text}}" + "</a></div>"); 
                 
        {% endfor %}
        
          // Detect click on one thymeline
          $("#thymelines").click(function() {
            console.log("CLICKED A TIMELINE");
            console.log("input: ", $("#primaryKey").val());
            // Pass timeline's primary key to thymeline page
            $("#href").attr('href', "../../thymeline/" + $("#primaryKey").val());
          });
        
        
      });
         
    </script>
	</body>
</html>
