{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/createnew.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>

    <body>
      <div class="container-fluid">
        <div class="row top" style ="background-color: rgb(245, 245, 245)">
          <div class="col-6" align="left" style="background-color: rgb(245, 245, 245)">
            <a href="/thyme/homepage" class="btn-small btn-default"><i class="material-icons" style="font-size:48px">arrow_back</i></a>
          </div>
        </div>
 
        <div class="row" align="center">
          <div class="col-12 text-center">
            <div class="panel panel-default">
              <a href="/thyme/createthymeline" class="btn-med btn-light btn-block"> 
                Create New +  
              </a>
            </div>
          </div>
        </div>
      <div class="row add" align="center">
        <h3>
          Add to existing:
        </h3>
      </div>
      <div class="row" align="center">
        <div class="col-12 text-center">
          <div class="panel panel-default" id="thymelines">
            <a href="/thyme/addtimepoint" class="btn-med btn-light btn-block">
               *User's family thymelines 
            </a>
          </div>
        </div>
      </div>
      </div>

    <script>
      var thymelinePanelTemplateStart =  "<div class='row' align='center'> <div class='col-12 text-center'> <div class='panel panel-default' id='thymelines'> <a href='/thyme/addtimepoint' class='btn btn-light btn-block'> <h3>"
      var thymelinePanelTemplateEnd = "</h3> </a> </div> </div> </div>"
      $(document).ready(function() {
        console.log("Hello World!");
        console.log("{{data.values}}");
        {% for timeline in data.values %}
          console.log("{{timeline.dishName}}");
          $("#thymelines").append(thymelinePanelTemplateStart + "{{timeline.dishName}}" + thymelinePanelTemplateEnd);
        {% endfor %}
      });
    </script>
  </body>
</html>

