{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/thymeline.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 



		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
<body>
<div class="container-fluid">
  <div class="row top">
    <div class="col-xs-6">
      <button type="button" class="btn btn-default"><i class="material-icons">arrow_back</i></button>
    </div>
    <div class="col-xs-6 text-right">
      <button type="button" class="btn btn-default">View recipe</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
     <h4>Apple Pie Story</h4>
  </div>
  <div class="row small" >
    <div class="col-xs-12 text-center">
      <p>The first recorded recipe for apple pie was written in 1381 in England, and called for figs, raisins, pears, and saffron in addition to apples. Early apple pie recipes were a lot different from what we know today, as they rarely called for sugar, an expensive and hard-to-get item at the time. </p>
    </div>
    </div>
  </div>
</div>
</body>
</html>
