{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/thymeline.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic' rel='stylesheet' type='text/css'>

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    
  
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="row top">
        <div class="col-6">
          <a href="/thyme/homepage"  class="btn btn-default"><i class="material-icons">home</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="col-12 text-center">
            <h3>{{timeline}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Timeline -->
    <div class="timeline" id="timeline">
        <!-- TIMEPOINTS WILL BE ADDED HERE (see script) -->
    </div>
  </body> 
  <script>  
     var divTag = "<div class='container right' id='toRecipeContainer'>"
     var contentDivTag = "<div class='content'>"

     $(document).ready(function() {
          //console.log("script");
          {% for timepoint in timepoints %}
             var hrefTag = "<a href='/thyme/viewrecipe/{{timepoint.id}}' id='toRecipe'> <h2>{{timepoint.date}}</h2></a>"
             //console.log("timepoint");
             //console.log("{{timepoint}}");
            $("#timeline").append(divTag + contentDivTag + hrefTag + "<p>{{timepoint.story}}</p></div></div>");                  
          {% endfor %}

    });
  </script>
</html>

