{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/viewrecipe.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
 
	<body>   
 <div class="container-fluid">
  <div class="row top">
    <div class="col-12" align="left">
      <a href="/thyme/homepage" class="btn btn-default"><i class="material-icons" style="font-size: 48px">home</i></a>
    </div>
  </div>
  <div class = "row text-center">
    <div class="col-12">
      <h2> Recipe Name: </h2>
    </div>
  </div>
  <div class = "row">
    <div class="col-4">
     <h4> Serving Size: </h4> <div id="servingsize">
       
       </div>
    </div>
  <div class="col-4">
     <h4> Prep Time: </h4> <div id="preptime">
       
       </div>
  </div>
  <div class="col-4">
     <h4> Cook Time: </h4> <div id="cooktime">
       
       </div>
  </div>
          </div>
  <div class="row" style="background-color: white">
    <div class="col-12">
     <h4> Ingredients: </h4> <div id="ingredients">
        </div>
    </div>
  </div>
  <div class="row" style="background-color: white">
    <div class="col-12">
     <h4> Directions: </h4> <div id="ingredients">
        </div>
    </div>
  </div>
</div>
</body>
</html>