{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/thyme/writerecipe.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth:700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 



		<script src="{% static '/thyme/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/thyme/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
  
	<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6" align="left">
          <button type="button" class="btn btn-defaut\lt"><i class="material-icons">arrow_back</i></button>
        </div>
        <div class="col-6" align="right">
          <button type="button" class="btn btn-default">
            Done
          </button>
        </div>
      </div>
        
      <div class="row">
        <div class="col-12" align="center">
          <h1>*User Name*'s *Thymeline name*</h1> <!-- Amy's Lasagna -->
        </div> 
      </div>
        
      <div class="row">
        <div class="col-4">
          <form>
            Serving Size:<br>
            <input type="text" name="servingsize"  style="border:solid 1px  rgb(0, 172, 148)" class= "ingredients"><br>
          </form>
        </div>
        <div class="col-4">
          <form>
          Prep Time:<br>
          <input type="text" name="preptime"  style="border:solid 1px  rgb(0, 172, 148)" class= "ingredients"><br>
          </form>
        </div>
        <div class="col-3">
          <form>
          Cook time:<br>
          <input type="text" name="cooktime"  style="border:solid 1px  rgb(0, 172, 148)" class= "ingredients"><br>
           </form>
        </div>
      </div>
    
    
  
    <div class = "row">
     Ingredients:
    </div>
      
     <div class="row">
        <div class="col-12">
          <textarea rows="10" cols="100" style="border:solid 1px  rgb(0, 172, 148)" class= "ingredients"> </textarea>
        </div>
    </div>
      
    <div class="row white"> <br />  </div>
      
    <div class = "row">
     Directions:
    </div>
    <div class="row">
      <div class="col-12">
        <textarea rows="10" cols="100" style="border:solid 1px  rgb(0, 172, 148)" class= "ingredients"> </textarea>
       </div>
    </div>
      
    </div>
    
    
	</body>
</html>