.row {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

body {
  background-color: rgb(231, 247, 246);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55); 
  font-size: 30px;
}

/* .btn {
  background-color: #009F8A;
} */

h4 {
  text-transform: uppercase;
}

.search {
  padding-right: 20px;
  padding-left: 30px;
}

h1 {
font-family: 'Amaranth', sans-serif;
font-weight: 700;
color: rgb(0, 104, 55);
}

h3 {
font-family: 'Amaranth', sans-serif;
font-weight: 700;
color: rgb(0, 172, 148); 
}

.material-icons {
   color: rgb(0, 172, 148); 
}
.top {
  padding: 3px;
  background-color: rgb(245, 245, 245);
}

.btn {
  color: rgb(0, 172, 148); 
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: "white";
  font-size: 48px;
}
.save {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(0, 104, 55);  
}

