.row {
  margin-bottom: 20px;
  padding: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
} 

.material-icons {
   color: rgb(0, 172, 148); 
} 

h4 {
  text-transform: uppercase;
  padding: 20px;
  
}
h3 {
  padding: 10px;
}

.search {
  margin: 20px;
}
.top {
  padding: 3px;
  background-color: rgb(245, 245, 245);
}



body {
  background-color: rgb(231, 247, 246);
  font-family:  'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

