.row {
  margin-bottom: 20px;
  padding: 20px;
}

 .btn-big {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-size: 100px;
  height: 300px;
  font-weight: 300;

} 

.btn {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-size: 60px;
  height: 100px;
  font-weight: 300;
}

 .btn-med{
  background-color: "white";
  color: rgb(0, 172, 148);
  font-size: 60px;
  height: 100px;
  font-weight: 300;
   

}

 .btn-small{
  background-color: "white";
  color: rgb(0, 172, 148);

} 

.material-icons {
   color: rgb(0, 172, 148); 
   font-size: 48px;
   margin-left: 20px;
}   


h4 {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 104, 55); 
  font-size: 50px;
  
}

h3 {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-size: 60px;
  height: 100px;
  font-weight: 300;
}

.search {
  margin: 20px;
}
.top {
  padding: 0px;
  background-color: rgb(245, 245, 245);
}



body {
  background-color: rgb(231, 247, 246);
  font-family: raleway, sans-serif;
  font-style: normal;
  color: rgb(0, 172, 148);
  font-size: 100px;
  font-weight: 700;
}



