.row {
  margin-bottom: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 172, 148); 
  font-size: 60px;
} 

a {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55);
  font-size: 60px;
  
}

h4 {
  text-transform: uppercase;
  padding: 20px;
  color: rgb(0, 104, 55); 
  font-size: 200px;
  
  
}
button {
  margin:0px;
}

.search {
  margin: 20px;
}
.top {
  padding: 3px;
  background-color: rgb(245, 245, 245);
}
body {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: rgb(231, 247, 246)
  color: rgb(0, 104, 55); 
}

p {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: rgb(231, 247, 246)
  color: rgb(0, 104, 55); 

}

h4 {
  font-size: 50px;
}
small {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

h5 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  color: rgb(0, 172, 148); 
}

.material-icons {
   color: rgb(0, 172, 148); 
}