.row {
  margin-bottom: 20px;
}

/* .btn {
  background-color: #009F8A;
} */

h4 {
  text-transform: uppercase;
  padding: 20px;
  
}
button {
  margin:0px;
}

.search {
  margin: 20px;
}
.top {
  padding: 3px;
}
body {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 700;
}
small {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

h5 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  color: rgb(0, 172, 148); 
}