.material-icons {
  margin-top:20px;
  font-size: 48px;
}

.row {
  margin-bottom: 40px;
  margin-top; 40px;
}


h4 {
  text-transform: uppercase;
}

.search {
  padding: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
} 


input {
    height: 100px;
}

.form-control{
  height: 100px;
  font-size: 50px;
}

input, select, textarea { 
font-size: 80%; 
}

