.material-icons {
  font-size: 100px;
}

.row {
  margin-bottom: 40px;
  margin-top; 40px;
}


h4 {
  text-transform: uppercase;
}

.search {
  padding: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
} 
.top {
  padding: 100px;
  
}

input {
    height: 100px;
}

.form-control{
  height: 100px;
}

