.row {
  margin-bottom: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
} 

h4 {
  text-transform: uppercase;
  padding: 20px;
  
}
h3 {
  padding: 10px;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.search {
  margin: 20px;
}
.top {
  padding: 3px;
}

body { 
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}
small {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.material-icons {
   color: rgb(0, 172, 148); 
}

