/*.row {
  margin-bottom: 20px;
}

 .btn {
  background-color: "white";
  color: rgb(0, 172, 148);
  font-size: 80px;
} 

h4 {
  text-transform: uppercase;
  padding: 20px;
  color: rgb(0, 104, 55); 
  font-size:100px;
  
}
h3 {
  padding: 10px;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55); 
  font-size:100px;
}

.search {
  margin: 20px;
}
.top {
  padding: 3px;
}

body { 
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  background-color: rgb(231, 247, 246);
}
small {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  align-content: center;
}

.material-icons {
   color: rgb(0, 172, 148); 
   font-size: 48px;
}

a {
  background-color: "white";
}
 **/

.row {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 0px;
}

.container-fluid {
  padding: 0px;
  
}


h4 {
  padding: 20px;
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  color: rgb(0, 104, 55); 
}

button {
  margin:0px;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.btn {
  color: rgb(0, 172, 148); 
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: "white";
  font-size: 80px;
}

.material-icons {
   color: rgb(0, 172, 148); 
   font-size: 48px;
}


.search {
  margin: 20px;
}
.top {
  margin-top:0px;
  background-color: rgb(245, 245, 245);
}
body {
  background-color: rgb(231, 247, 246);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
}
small {
  font-family: 'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
}

