.row {
  margin-bottom: 20px;
  padding-right: 20px;
}

body {
  background-color: rgb(231, 247, 246);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55);
  font-size: 60px;
}


h4 {
  text-transform: uppercase;
}

.search {
  padding-right: 20px;
  padding-left: 30px;
}

h1 {
  font-family:  'Amaranth', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55);
  font-size: 100px;
  
}

.material-icons {
  color: rgb(0, 172, 148);
  font-size: 48px;
}

.btn {
  background-color: "white";
  color: rgb(0, 104, 55);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55);
  font-size: 38px;
}

form {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 104, 55);
  font-size: 60px;
}

a {
  background-color: "white";
}

button {
  background-color: "white";
}

input {
    height: 100px;
}

/* .form-control{
  height: 100px;
  font-size: 50px;
} */

input[type="text"]
, select, textarea { 
  font-size: 100%;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
}

