.row {
  margin-bottom: 20px;
}


h4 {
  font-size: 50px;
  padding: 20px;
  
  
}
h3 {
  padding: 10px;
}

.search {
  margin: 20px;
  padding-right: 20px;
  padding-left: 30px;

}
.top {
  background-color: rgb(245, 245, 245);
  padding: 3px;
}

.row {
 
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

body {background-color: "white";
font-family: raleway, sans-serif;
font-style: normal;
font-weight: 300;
color: rgb(87, 87, 87); }





textarea {
  font-family: raleway, sans-serif;
font-style: normal;
font-weight: 300;
}

form {
  font-family: raleway, sans-serif;
font-style: normal;
font-weight: 300;
}

.btn {
    color: rgb(0, 172, 148); 
}

.material-icons {
   color: rgb(0, 172, 148); 
}

