.row {
  margin-bottom: 40px;
  margin-top: 40px;
}

.top {
  margin-top:0px;
  background-color: rgb(245, 245, 245);
}

body {
  background-color: rgb(231, 247, 246);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.ingredients {
  background-color: "white";
}


h2 {
font-family: raleway, sans-serif;
font-weight: 700;
font-size: 60px;
color: rgb(0, 104, 55); 
}

.white {
  background-color: "white";
}

textarea {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

form {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
}

h4 {
font-family: raleway, sans-serif;
font-style: normal;
font-size: 40px;
color: rgb(0, 104, 55); 
}

.btn {
  color: rgb(0, 172, 148); 
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: "white";
  font-size: 80px;
} 

.material-icons {
   color: rgb(0, 172, 148); 
   font-size: 48px;
}
